@{
    ViewBag.Title = "Check Entry";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>Check Entry is currently under construction</h3>
<ol class="round">
    

    
</ol>
