@{
    ViewBag.Title = "Admin Duties";
}

    <h2>@ViewBag.Title</h2>



<ol class="round">
    
    <li class="one"><a href="~/Admin_Duties/Reports">Reports</a>
        <p>Allows admin to generate reports.</p>
    </li>
    <li class="two"><a href="~/Admin_Duties/PrintLetters">Logging</a>
        <p>Allows admin to view logs.</p>
    </li>

    
</ol>
