@{
    ViewBag.Title = "Print Letters";
}

<h2>Letters to be printed:</h2>


<p>Display list of letters that need to be printed here - When this page is loaded, the database will be queried for any 
    pending letters that need to be sent out.
</p>
