@{
    ViewBag.Title = "Data Entry";
}

<h2>Data Entry</h2>

<ol class="round">
    <li class="one">
        <a href="~/Checks/Create">Enter Check</a>
        <p>Allows user to enter a bad check record.</p>
    </li>
    <li class="two">
        <a href="~/Check_Passers/Create">Enter Check Passer</a>
        <p>Allows user to enter check passer information.</p>
    </li>
    <li class="three">
        <a href="~/Stores/Create">Enter Store</a>
        <p>Allows user to enter store information.</p>
    </li>
    <li class="four">
        <a href="~/Banks/Create">Enter Bank</a>
        <p>Allows user to enter bank information.</p>
    </li>
    <li class="five">
        <a href="~/Accounts/Create">Enter Account</a>
        <p>Allows user to enter account account information.</p>
    </li>



</ol>