@{
    ViewBag.Title = "Welcome to the RCT System";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Empyrean Solutions is dedicated to your success in bounced check retrieval.</h3>

<h4>Get started by...</h4>
<ol class="round">
    <li class="one">
        <a href="~/Account/Login">Logging in</a>
        <p>&nbsp</p>
    </li>
    <li class="two">
        <a href="~/Checks/Create">Creating a bounced check record</a>
        <p>&nbsp</p>
    </li>
    <li class="three">
        <a href="~/Checks/Open">Viewing all open bounced check records</a>
        <p>&nbsp</p>
    </li>
    <li class="four">
        <a href="~/Checks/PrintLetters">Printing letters</a>
        <p>&nbsp</p>
    </li>
    
</ol>
