@{
    ViewBag.Title = "Admin Duties";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>Admin Duties still has some work to be done</h3>
<ol class="round">
    <li><a href="~/Admin_Duties/PrintLetters">Print Letters</a></li>
    
</ol>
